.color-joule {
    background-color: #FBEAC2 !important;
}

.gray {
    background-color: #656464
}

.logo-joule {
    height: 4rem
}

.scroll {
    width: 100%; 
    height: 20em; 
    overflow:auto
}

.scroll-mobile {
    width: 100%; 
    height: 8em; 
    overflow:auto
}

.my-card {
    /*na mesma div, colocar a class 'z-depth-2'*/
    border-radius: 2px; 
    width: 100%; 
    margin-top: 3%;
    overflow: hidden
}

.desktop {
    height: 34em; 
}

.tablet {
    height: 29em; 
}

.mobile {
    height: 40em; 
}

.left-card {
    background-color: white
}

.slide {
}